body {
    background: url(./img/0000.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 900px){
    body {
        background: url(./img/0000.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}